.c-movieItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__img {
        width: 100%;
        object-fit: contain;

        img {
            width: 100%;
        }
    }
}
